streamlit
statsmodels
tensorflow
tensorflow-hub
numpy
pandas
matplotlib
seaborn
librosa
imblearn
requests
music21
pretty_midi
soundfile
pydub
numba
librosa
imbalanced-learn
requests
music21
pydub
numba
fluidsynth
fluid-synth
scikit-learn
scipy
audiomentations
pillow
torch
torchaudio
shap
pydub
music21
numba
flake8
black
torchvision
streamlit
statsmodels
tensorflow
tensorflow-hub
numpy
pandas
matplotlib
seaborn
librosa
scikit-learn
scipy
audiomentations
pillow
torch
torchaudio
shap
pydub
music21
numba
flake8
black
torchvision
torchcam
opencv-python
torch
