streamlit
opencv-python-headless
numpy
pandas
matplotlib
seaborn
librosa
tensorflow
scikit-learn
audiomentations
soundfile
torch
torchvision
torchaudio
torchcam
Pillow
scikit-learn
shap
scipy>=1.10.0
